<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Ford_logo.svg/2560px-Ford_logo.svg.png" alt="Ford Logo" class="login-logo">
            <h1 class="login-title">Boas Vindas!</h1>
        </div>
        
        <div class="login-body">
            <div *ngIf="message.text" [ngClass]="{'success-msg': message.type==='success', 'error-msg': message.type==='error'}" class="message">
                {{ message.text }}
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" *ngIf="!isRegisterMode">
                <div class="form-group">
                    <label for="username">Email</label>
                    <div class="input-wrapper">
                        <i data-feather="mail" class="input-icon"></i>
                        <input type="text" id="username" formControlName="username">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <div class="input-wrapper">
                        <i data-feather="lock" class="input-icon"></i>
                        <input type="password" id="password" formControlName="password">
                    </div>
                </div>

                <div class="form-group checkbox-group">
                    <input type="checkbox" id="terms" formControlName="terms">
                    <label for="terms">
                        Concordo com os <a (click)="openTermsModal($event)">Termos e Condições</a> (LGPD)
                    </label>
                </div>

                <div class="form-group">
                    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
                </div>

                <div class="text-center">
                    <p>Não tem uma conta? <a (click)="toggleMode(true)">Criar conta</a></p>
                </div>
            </form>

            <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" *ngIf="isRegisterMode">
                <div class="form-group">
                    <label for="regName">Nome Completo</label>
                    <div class="input-wrapper">
                        <i data-feather="user" class="input-icon"></i>
                        <input type="text" id="regName" formControlName="regName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="regEmail">Email</label>
                    <div class="input-wrapper">
                        <i data-feather="mail" class="input-icon"></i>
                        <input type="email" id="regEmail" formControlName="regEmail">
                    </div>
                </div>

                <div class="form-group">
                    <label for="regPassword">Senha</label>
                    <div class="input-wrapper">
                        <i data-feather="lock" class="input-icon"></i>
                        <input type="password" id="regPassword" formControlName="regPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label for="regConfirmPassword">Confirmar Senha</label>
                    <div class="input-wrapper">
                        <i data-feather="lock" class="input-icon"></i>
                        <input type="password" id="regConfirmPassword" formControlName="regConfirmPassword">
                    </div>
                </div>

                <div class="form-group checkbox-group">
                    <input id="regTerms" type="checkbox" formControlName="regTerms">
                    <label for="regTerms">
                        Concordo com os <a (click)="openTermsModal($event)">Termos e Condições</a>
                    </label>
                </div>

                <div class="form-group buttons">
                    <button type="submit" [disabled]="registerForm.invalid">Registrar</button>
                    <button type="button" (click)="toggleMode(false)">Voltar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="termsModal" *ngIf="isTermsModalOpen" class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h3>Termos e Condições - LGPD</h3>
            <button (click)="closeTermsModal()"><i data-feather="x"></i></button>
        </div>
        <div class="modal-body">
            <p>A Ford Brasil Ltda., inscrita no CNPJ/MF sob o nº 16.429.147/0001-54, ...</p>
            <h4>1. Coleta de Dados</h4>
            <p>Coletamos informações pessoais ...</p>
            <h4>2. Uso dos Dados</h4>
            <p>Utilizamos seus dados para ...</p>
            <h4>3. Compartilhamento</h4>
            <p>Seus dados podem ser compartilhados ...</p>
            <h4>4. Direitos do Titular</h4>
            <p>Você tem direito a acessar ...</p>
            <h4>5. Medidas de Segurança</h4>
            <p>Implementamos medidas técnicas ...</p>
            <p>Última atualização: 01/01/2023</p>
        </div>
        <div class="modal-footer">
            <button (click)="acceptTerms()">Aceitar Termos</button>
        </div>
    </div>
</div>
